@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&family=Yanone+Kaffeesatz&display=swap');

.Jess--message {
    width: 750px;
    background-color: rgb(90, 90, 90);
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.Jess--header {
    width: 750px;
    height: 250px;
    display: flex;
    border-top-right-radius: 50px;
    border-bottom: 10px solid #ACE0E4;
    background-position: bottom;
    background-blend-mode: darken;
    background-size: cover;
}

.mask--image {
    -webkit-mask-image: url("https://i.ibb.co/XJc14h6/Sans-titre-1.png");
    mask-image: url("https://i.ibb.co/XJc14h6/Sans-titre-1.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 200px;
}

.Jess--image {
    background-image: url("https://zupimages.net/up/23/33/qrqd.png");
    background-size: cover;
    height: 350px;
}

.Jess--imageContainer {
    position: relative;
    top: -30%;
    left: -10%;
}

.header--title {
    font-family: 'Rubik', sans-serif;
    margin-block: 75px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding-right : 150px;
}

.Jess--body {
    color: #cdcdcd;
    padding-block: 35px;
    padding-inline: 30px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6em !important;
}

.Jess--body:first-letter {
    float: left;
    text-shadow: 3px 3px 3px #00000054;
    font-size: 4em;
    line-height: 80%;
    margin: -.1em 0px;
    padding-right: .1em;
}

jess {
    display: inline;
    font-weight: bold;
    color: black;
}

grim {
    display: inline;
    text-transform: uppercase;
    color: #ACE0E4;
}

jaina {
    display: inline;
    color: #7f0707;
}

silke{
    display : inline;
    color : #008080;
}

valkia{
    display : inline;
    color : #ff0000;
}
