#selectionDisplay {
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}

#selectionDisplay input {
    display: none;
}

#selectionDisplay label {
    cursor: pointer;
    color: white;
}

#MyFT:checked + #labelMyFT,
#MyDeck:checked + #labelMyDeck{
    color: #a70a0a;
}

#selectionDisplay:has(#MyFT:checked) ~ #ficheToDisplay {
    display: block;
}

#selectionDisplay:has(#MyDeck:checked) ~  #deckToDisplay {
    display: flex;
}

#selectionDisplay:has(#MyFT:checked) ~ #deckToDisplay,
#selectionDisplay:has(#MyDeck:checked) ~ #ficheToDisplay{
    display: none;
}

#deckToDisplay {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 799px;
}

.tarotInfo {
    height: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #000000d9;
    top: 0;
}

.tarotContainer:hover > .tarotInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
}

.TitreTarot {;
    color: #c27cff;
    font-size: 1.8rem !important;
    text-transform: uppercase;
}

.SensTarot {
    font-size: 1.5rem !important;
    text-align: left;
    color: white;
}
