/******MISE EN PAGE GÉNÉRALE******/
.postbody img, .post-content img {
  max-width: 80%;
}

.ucp-main div.panel {
    border-radius: 25px!important;
}

.ucp-main {
    margin: 0!important;
}

.inner div.column1 br {
    display: block!important;
}

p.right {
    margin-right: 90px;
}

.block {
    background-color: #605e5e;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    border-radius: 25px;
    margin: 10px 65px 24px 65px;
    box-shadow: 0 6px 0 #212121;
}

.block .h3 {
    font-size: 18px;
}

input + select, input + button {
    margin-left: 0;
}

h1.page-title {
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 40px;
}

.content h2.h3, .panel h2.h3 {
    font-size: 25px;
}
.content h2, .panel h2 {
    border-color: #fff;
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
}

#memberlist tbody tr td:nth-child(2) {
    max-width: 340px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#memberlist tbody tr td a.topictitle {
    max-width: 560px;
}

#memberlist tbody tr td br {
    display: block;
}

#memberlist tbody tr td:nth-child(5) {
    width: 120px;
}

.inner td.mobile-hidden br {
    display: block;
}

table.table1 .posts {
    text-align: center!important;
    width: 3%;
    padding: 0;
}

a.topictitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

cp-main table.table1 {
    background-color: grey;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
    background-color: #647f7e;
    color: #fff;
}

thead.mobile-hidden {
    background-color: #339c98;
    font-family: 'Chinese Rocks Rg',sans-serif;
}

table.forumline {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #339c98;
}

table.forumline tr:hover td {
    background-color: #605e5e;
}

table.forumline input {
    margin: 5px;
}

#message-box {
    margin: 0 180px 5px 0;
}

fieldset.fields1 dt {
    width: 150px;
    font-size: 16px;
}

fieldset.fields1 dd {
    margin-left: 150px;
}

fieldset.fields1 dt label:first-child {
    margin: 0;
}

fieldset.fields1 dt label span {
    font-size: 18px!important;
}

fieldset.submit-buttons {
    margin: 0;
}

#cp-main .panel.sig {
    background-color: #605e5e;
    padding: 0 0 14px 0;
}

input[type="text"], .inputbox {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border-bottom: 0;
    padding: 5px 0 2px 6px;
}

input[type="text"]:focus, input[type="password"]:focus, .inputbox:focus {
    border-bottom: 1px solid #339c98;
    color: #000;
}
input[type="text"]:hover, input[type="password"]:hover, .inputbox:hover {
    border-bottom: 1px solid #339c98;
}

input[type="password"]:hover {
    cursor: text;
}

#tabs {
    font-family: 'Chinese Rocks Rg',sans-serif;
}

#tabs ul {
    padding: 0 30px;
}

#tabs ul li {
    font-size: 16px;
    background-color: #212121;
    margin-right: 5px;
    border-radius: 10px 10px 0 0;
}

#tabs ul a {
    border-width: 0;
}

#tabs ul a:hover {
    border-bottom: 1px solid #339c98;
}

#tabs ul li.activetab a {
    font-size: 20px;
    background-color: #036461;
    border-width: 0;
    border-radius: 10px 10px 0 0;
}

#tabs ul li.activetab a:hover {
    color: #fff!important;
    cursor: default;
}

fieldset {
    border-width: 0;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
}

fieldset dl dt span img {
    display: none;
}

.inner fieldset dd br {
    display: block;
}

.panel fieldset {
    margin-bottom: 0;
}

.content h1, .panel h1 {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 30px;
}

section.row1, section.row2 {
    background-color: #2f2f2f;
}

#message-box textarea {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

#smiley-box br {
    display: block;
}

#smiley-box, .smile-status-box {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#smiley-box.sig, .smile-status-box.sig {
    margin-top: 0;
}

.error {
    border-radius: 20px;
    margin-bottom: 30px;
}

p, .panel p, .panel div.mes-txt {
    margin-bottom: 0;
}

.row1 {
    background-color: #605e5e;
}

.panel {
    background-color: #605e5e;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0 6px 0px #212121;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 18px;
    position: relative;
}

.panel .inner p {
    font-size: 20px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    text-align: center;
}

.inner br {
    display: none;
}

.inner p br {
    display: block;
}

.inner p br:first-child {
    display: none;
}

.inner p br:last-child {
    display: none;
}

h3, .h3 {
    color: #fff;
    border-width: 0;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.postbody {
    width: 100%;
    color: #000;
    font-size: 14px;
    margin-right: 0;
    padding: 26px;
}

.content {
    background-color: #fff;
    padding: 30px;
    color: #000;
    line-height: 1.3em;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

p.author {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.post {
    background-color: #605e5e;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 0 6px 0 #212121;
    margin-bottom: 20px;
}

body::-webkit-scrollbar {
    width: 5px!important;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98)!important;
}

body::-webkit-scrollbar-track {
    background: #232323!important;
}

/********NavBar*********/

.conteneur_container_IE
{
  padding-top : 30px;
}

#headerbar-top > .wrap
{
    padding: 0;
    width : 100%;
    max-width : unset;
}

.introduction
{
  background-image: none;
  background-color : unset;
  box-shadow : unset;
  padding-top : 0;
  height:400px;
}

#wrap
{
  padding: 0;
}
.headerbar
{
  height : 650px;
  background-position : center;
}

.is-sticky#headerbar-top
{
  padding : 0;
  background-color : unset;
  box-shadow : none;
}

#navigation
{
    background: linear-gradient(90deg, #339c98, #036461);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    position : fixed;
    z-index : 100;
    box-shadow: 0 2px 10px #00000075;

}

#headclick
{
  cursor : pointer;
}

#navigation a 
{
  cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #206d6a;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height : 30px;
    width : 40px;
    font-size: 2rem;
    overflow-y : hidden;
    scrollbar-width : none;
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : .4rem;
}

#navigation a::-webkit-scrollbar
{
    display: none;
}

#left-navigation
{
    padding-left: 30px;
    display: flex;
    gap : 10px;
}

#right-navigation
{
    padding-right: 30px;
    display: flex;
    gap: 10px;
}

#discordLink
{
    background-color: #7289DA !important;
    padding-left: 10px !important;
    padding-right: 20px !important;
    width: 150px !important;
}

#accueil, #membres, #login, #cartes, #profil, #recherche, #messagerie, #enregistrer, #deconnexion
{
    padding-left: 7px;
    transition-duration : 1s;
}

#recherche
{
      padding-left: 8px;
}

#profil
{
      padding-left: 10px;
}

#messagerie
{
      padding-left: 10px;
}

#accueil:hover, #accueil.active
{
      width : 150px;
}

#recherche:hover, #login:hover, #recherche.active, #login.active
{
     width : 180px
}

#deconnexion:hover, #deconnexion.active
{
  width : 200px;
}

#enregistrer:hover, #enregistrer.active
{
  width : 210px;
}

#membres:hover, #membres.active
{
     width : 165px;
}

#messagerie:hover, #messagerie.active
{
     width : 185px;
}

#cartes:hover
{
  width : 130px;
}

#profil:hover, #profil.active
{
  width : 120px;
}


#discordLink .fa-discord, #accueil .fa-home, #recherche .fa-magnifying-glass, #membres .fa-users, #messagerie .fa-envelope, #login .fa-right-to-bracket, #cartes .fa-map, #profil .fa-clipboard-user, #enregistrer .fa-user-plus, #deconnexion .fa-right-to-bracket
{
    margin-right: 15px;
}

/********PA*********/

#PA
{
    display: flex;
}

#PA_Middle
{
    display: flex;
    width: 400px;
    height: 60px;
    background-color: #605E5E;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 70px;
    box-shadow : 0 8px #212121;
  background-image : url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

#PA_Bouton
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
}

#PA_TopSite
{
  display : flex;
  flex-direction : column;
  align-items : center;
  transform: rotate(45deg);
}

#PA_Actu_Label, #PA_Context_Label, #PA_Predef_Label
{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: #2f2f2f;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left : 30px;
}

.marquee, #PA_Context_Box {
    overflow: auto!important;
    height: 250px!important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding : 10px;
}

.marquee::-webkit-scrollbar, #PA_Context_Box::-webkit-scrollbar {
  display: none;
}

#PA_Actu_Label:hover,
#PA_Actu_Input:checked ~ #PA_Actu_Label, 
#PA_Context_Label:hover,
#PA_Context:checked ~ #PA_Context_Label, 
#PA_Predef_Label:hover, 
#PA_Predef:checked ~ #PA_Predef_Label
{
    background-color: #44cac6;
    color : black;
}

.Square
{
    width: 60px;
    height: 60px;
    background-color: #605E5E;
  cursor : pointer;
     box-shadow: 4px 4px 0px 3px #212121;    
}	

.align
{
  text-align : center;
  margin: 30px;
}

#Top_Row, #Bottom_Row
{
    display: flex;
    margin-bottom: 15px;
}

#Top_Square, #Left_Square
{
    margin-right: 15px;
}


#PA_Context_Left > span, #PA_Context_Right > span, #PA_Actu_Left > span, #PA_Actu_Right > span, #PA_Predef_Right > span, #PA_Predef_Left > span
{
    color: white;
    font-size: 3rem;
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : .4rem;
}

#PA_Context_Left, #PA_Context_Right, #PA_Actu_Left, #PA_Actu_Right, #PA_Predef_Right, #PA_Predef_Left
{
    transition: 1s ease-in-out;
    opacity: 1;
    visibility: visible;
  text-align : center;
  margin-top : 30px;
}

#PA_Actu_Left, #PA_Actu_Right
{
    transform: translateY(-150px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

#PA_Predef_Right, #PA_Predef_Left
{
      opacity: 0;
    visibility: hidden;
    position: absolute;
}

#PA_Context_Box
{
  font-size : 1.8rem;
	padding : 20px 30px;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

#PA_Context_Box, #recent_topics, #PA_Actu_Box, #PA_LastActu_Box
{
    width: 400px;
    height: 250px;
    background-color: #605E5E;
    border-radius: 20px;
    color : white;
    text-align : justify;
    box-shadow: 0px 8px 0px #212121;
  background-image : url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.admin_line
{
    display: flex;
    gap : 30px;
      transition: 1s ease-in-out;
}

.img_deco
{
    width: 100px;
    height: 100px;
}

.img_deco div {
    box-shadow: 4px 4px 0px #212121;
}

.img_deco > img
{
    width : 100px;
    height: 100px;
    background-size : cover;
}

#firstRow, #PredefJoueurFirstRow
{
    margin-left: 70px;
    margin-bottom: 50px;
    transform : translateX(0px);
}

#secondRow, #PredefJoueurSecondRow
{
    margin-right: 70px;
    transition-delay : 0.3s;
    transform : translateX(0px);
}

#PredefStaffFirstRow
{
      margin-right: 70px;
    margin-bottom: 50px;
    transform : translateX(0px);
}

#PredefStaffSecondRow
{
      margin-left: 70px;
    transition-delay : 0.3s;
    transform : translateX(0px);
}

/********QEEL*********/
.qeel_title, .qeel_sub {
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : .4rem;
    color: #fff;
    text-align: center;
}

.qeel_title {
    background-color: #605E5E;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0px 8px 0px #212121;
    font-size: 60px;
    text-shadow: 4px 3px 0 #000000a3;
    font-weight: 400;
    padding: 6px 0;
    border-radius: 50px;
}

.qeel_sub {
    font-size: 26px;
    padding: 10px 0;
    text-shadow: 2px 2px 0 #000000a3;
}

.qeel_blocs {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1285px) {
    .qeel_blocs {
        flex-direction: column;
        gap: 20px;
    }
}

.qeel_24h, .qeel_actu, .qeel_faction {
    background-color: #605E5E;
}

.qeel_24h, .qeel_faction {
    position: relative;
    width: 370px;
    height: 450px;
    border-radius: 50px;
    box-shadow: 0px 8px 0px #212121;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.qeel_24h {
    padding: 0 20px;
}

.qeel_24h img {
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
}

.qeel_txt {
    position: relative;
    z-index: 2;
    opacity: 0;
    padding: 0 10px 0 10px;
    height: 360px;
    overflow: auto;
    color: #c7c7c7;
    font-size: 18px;
    text-align: justify;
    transition: 0.3s;
}

.qeel_txt::-webkit-scrollbar {
    width: 5px;
}

.qeel_txt::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98);
}

.qeel_txt::-webkit-scrollbar-track {
    background: #232323;
}

.qeel_24h:hover img {
    opacity: 0;
}

.qeel_24h:hover div {
    opacity: 1;
}

.qeel_actu {
    width: 450px;
    height: 380px;
    margin: 0 20px;
    padding: 0 20px;
    background-image: url('https://i.postimg.cc/hGzFNtNt/QEEL2.png');
    box-shadow: 0px 0px 8px #212121;
}

.qeel_online {
    border-bottom: 1px solid #fff;
}

#onLINE br {
    display: none;
}

.qeel_online div {
    height: 150px;
    color: #c7c7c7;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
    overflow: auto;
}

.qeel_online div::-webkit-scrollbar {
    width: 5px;
}

.qeel_online div::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98);
}

.qeel_online div::-webkit-scrollbar-track {
    background: #232323;
}

.qeel_archive div {
    height: 100px;
    color: #c7c7c7;
    font-size: 2rem;
    text-align: center;
}

.qeel_faction img {
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
}

.qeel_faction div {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
}

.qeel_faction:hover img {
    opacity: 0;
}

.qeel_faction:hover div {
    opacity: 1;
}

.qeel_groups {
    height: 190px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
}

.qeel_groups div {
    padding: 10px;
    flex: 1 1 auto;
    height: 36px;
    text-align: center;
    box-shadow: 3px 3px 0 #2f2f2f;
}

.gr_1 {
    background: #C7485B;
}
.gr_2 {
    background: #f3744b;
}
.gr_3 {
    background: #e7be21;
}
.gr_4 {
    background: #7cbd37;
}
.gr_5 {
    background: #4ba3bf;
}
.gr_6 {
    background: #455fc1;
}
.gr_7 {
    background: #7529a3;
}
.gr_8 {
    background: #7A7A7A;
}

.qeel_desc {
    position: relative;
    height: 180px;
    padding: 0 20px;
}

.qeel_groups div {
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : .4rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#gr1, #gr2, #gr3, #gr4, #gr5, #gr6, #gr7, #gr8, #gr9 {
    display: none;
}

.qeel_desc div h3 {
    font-size: 20px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    letter-spacing: .4rem;
    text-align: center;
    text-shadow: 2px 2px 3px #00000096;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #00000087;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    height: 36px;
    line-height: 38px;
    border-radius: 50px;
    box-shadow: 0 6px 0;
}

.qeel_desc div div {
    font-family: Roboto,sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: lighter;
    text-align: justify;
    color: #b7b7b7;
    height: 118px;
    overflow: auto;
    margin-top: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.qeel_desc div div::-webkit-scrollbar {
    display: none;
}

#gr1 h3 {
    color: #C7485B;
}
#gr2 h3 {
    color: #f3744b;
}
#gr3 h3 {
    color: #e7be21;
}
#gr4 h3 {
    color: #7cbd37;
}
#gr5 h3 {
    color: #4ba3bf;
}
#gr6 h3 {
    color: #455fc1;
}
#gr7 h3 {
    color: #7529a3;
}
#gr8 h3 {
    color: #7A7A7A;
}

.qeel_new {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 700px;
}

.qeel_new img {
    position: absolute;
    width: 300px;
    left: -55px;
    top: -100px;
}

.qeel_new h4 {
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : .4rem;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

#nUSER {
    background-color: #605E5E;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0px 8px 0 #212121;
    margin: 0 auto;
    padding: 20px 0;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}

#avatar_dernier_membre img {
    width: 172px;
    height: 172px;
    object-fit: cover;
    object-position: top;
    margin-left: 62px;
    margin-top: 78px;
    border-radius: 100px;
    border: 3px solid #000;
}

/********DerniersSujets*********/
.mod-recent-row
{
  	padding-top : 10px;
	padding-left : 10px;
  	padding-right : 10px;
}

.mod-recent-title, .mod-recent-title:visited
{
  font-size : 1.8rem;
  color: #fff;
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : .4rem;
}

.mod-recent-time
{
  font-size : 1.2rem;
  color :white;
}

.mod-recent-title
{
  color: white;
}

.mod-recent-row + .mod-recent-row 
{
  border : solid #2f2f2f;
  border-width : 3px 0 0 ;
    color :white;
}

/********CarteBDD*********/

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}


.card--img
{

    cursor: pointer;
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 70px;
    border: 5px #605E5E solid;
    box-shadow: 0 0 0 2px #2F2F2F;
  z-index:3;
 }

.card--textDisplay
{
    border-radius: 30px;
    transition: 1s ease-in-out;
    z-index: 1;
    width: 220px;
    height: 70px;
    transform: translateY(-50px);
    background-color: #605E5E;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 30px;
    scrollbar-width: none;
    box-shadow: inset 0 0 0 4px #fff;
}

.card--textDisplay::-webkit-scrollbar
{
    display: none;
}

.card--textName
{
    font-size: 1.8em;
    color: white;
}

.card--text
{
    font-size: 1.2em;
    color: white;
}

.card--shelf
{
    width: 260px;
    height : 120px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #605E5E;
    box-shadow: 0 0 7px 4px #2F2F2F;
    margin-top: -50px;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align : center;
}


/*************** PROFIL **************/
.AFpfl {
    width: 100%;
    margin: 0 auto;
}

.tle_pfl {
    background-color: #605E5E;
    font-size: 50px;
    padding: 6px 0;
    border-radius: 50px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    letter-spacing: .4rem;
    color: #fff!important;
    text-align: center;
    line-height: 1.526;
  background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0 8px 0 #212121;
}

#bloc_pfl {
    width: 94%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: auto;
}

@media screen and (max-width: 1285px) {
    #bloc_pfl {
        flex-direction: column;
    }
}

.bloc_ava_pfl, .info_pfl, .stat_pfl {
    background-color: #434242;
    padding: 30px;
    color: #fff;
  background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0 8px 0 #212121;
}

.info_pfl, .stat_pfl {
    flex: 2;
}

.sepa_pfl {
    width: 1px;
    background: linear-gradient(#2f2f2f, #ffffff, #2f2f2f);
}

.pfl_label {
  font-family: 'Chinese Rocks Rg',sans-serif;
  font-size: 16px;
  margin-right: 5px;
  letter-spacing : 3px;
}

.bloc_pfl_tle {
    display: inline-block;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

/***premier bloc***/
.ava_pfl {
    position: relative;
    width: 230px;
    height: 430px;
    border: 15px solid #0d0d0d;
    border-radius: 15px;
    margin: auto;
}

#avatar_membre > img
{
  object-fit : cover;
  height : 400px;
  width : 200px;
}

.ava_pfl:hover .ava_links {
    opacity: 1;
}

.ava_pfl img {
    position: absolute;
}

.ava_links {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 400px;
    color: #fff;
    text-align: center;
    background-color: #0d0d0de3;
    transition: 0.50s ease-out;
    -webkit-transition: 0.50s ease-out;
}

.ava_links img {
  position: relative;
}

.ava_links div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.ava_links div table {
    width: 90%;
}

.ava_links div table tr {
    height: 20px;
}

.ava_links div table td:nth-child(1) {
    width: 65%;
    text-align: right;
}
.ava_links div table td:nth-child(2) {
    text-align: center;
}

.field_editable.invisible {
  display: none;
}

/***deuxième bloc***/
.info_pfl {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_pfl dl {
  display: flex;
  height: 20px;
  font-size: 16px;
  align-items: flex-start;
  justify-content: space-between;
}

.info_pfl dl dt span span {
  color: #ffffff!important;
}

.lk_msg, .field_uneditable {
  display: inline;
  font-size: 2rem;
}

.lk_msg a {
  margin-left: 5px;
  background-color: #0d0d0d;
  padding: 5px 25px;
}

.lk_msg a:first-child {
  margin-left: 40px;
}

/***troisième bloc***/
#groups-details {
  display: flex;
  gap: 30px;
}

#groups-details > dd > strong
{
  font-weight : 400;
  font-size : 2rem;
}

.bloc_stat
{
  font-size : 2rem;
}


/***********LISTE DES SUJETS*************/
#LTsj {
    margin: 0 auto;
    width: 90%;
}

.tle_ltsj {
    position: relative;
    background-color: #605E5E;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0 6px 0 #212121;
    font-size: 50px;
    text-shadow: 4px 3px 0 #000000a3;
    padding: 6px 0;
    border-radius: 50px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-weight: normal;
    letter-spacing: .4rem;
    color: #fff;
    text-align: center;
    line-height: 1.526;
    margin-block-start: 0;
    margin-block-end: 0;
}

.links_ltsj {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links_ltsj a {
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 18px;
}

.nav_ltsj {
    position: absolute;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: 'Chinese Rocks Rg',sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #339c98;
    z-index: 0;
}

.nav_ltsj a {
    color: #fff;
}

.nav_ltsj a:hover {
    color: #339c98;
}

.btnpg_ltsj, .btnjp_ltsj {
    position: relative;
    margin: 15px auto;
    margin-bottom: 0;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_ltsj, input[type="submit"], .button, .button1, .button2 {
    display: inline-block;
    height: 40px;
    line-height: 42px;
    color: #fff!important;
    font-size: 18px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    background-color: #339c98;
    padding: 0 18px;
    border-radius: 15px;
    z-index: 99;
}

.btn_ltsj:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.pg_ltsj {
    display: flex;
    gap: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    align-items: baseline;
}

.btnjp_ltsj span.pg_ltsj a {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 1.3rem;
}

.pg_ltsj span strong, .pg_ltsj span a {
    display: inline-block;
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    background-color: #339c98;
    text-align: center;
    line-height: 28px;
    height: 25px;
    width: 25px;
    margin: 0 3px;
    border-radius: 5px;
}

.pg_ltsj span a {
    background-color: #036461;
    font-family: 'Chinese Rocks Rg',sans-serif!important;
}

.pg_ltsj span a.pag-img {
    background: none;
}

#bloc_ltsj {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 0 15px 0;
}

.sub_ltsj {
    height: 80px;
    font-size: 48px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 0 #ffffff4f;
    color: #339c98;
    line-height: 64px;
    outline: 1px solid #ffffff5c;
    outline-offset: -8px;
    padding: 10px 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 0;
    background-color: #00000087;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.sujet {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.img_sj {
    height: 60px;
    width: 40px;
    border-radius: 15px 0 0 15px;
}

.ava_sj {
    height: 60px;
    position: absolute;
    left: 18px;
    bottom: 5px;
}

.ava_sj span.lastpost-avatar img {
    height: 70px;
    width: 70px;
    border: 5px solid #2f2f2f;
}

.tle_sj {
    background: linear-gradient(0deg, #c7dbdb, #fff);
    height: 60px;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tle_sj b a {
    display: block;
    color: #000;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 24px;
    line-height: 40px;
    padding: 0 8px 0 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tle_sj p, .date_sj p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.tle_sj p {
    font-size: 18px;
    line-height: 10px;
    padding-left: 70px;
    color: #000;
}

.r_sj, .v_sj {
    height: 60px;
    width: 70px;
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
    text-shadow: 3px 2px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.r_sj {
    background-color: #656565;
}

.v_sj {
    background-color: #4b4b4b;
}

.date_sj {
    height: 60px;
    min-width: 150px;
    background: linear-gradient(270deg,#006b66,#003937);
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 16px;
}

.date_sj p {
    font-size: 14px;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    padding-top: 8px;
    line-height: 10px;
}

.btnjp_ltsj {
    margin: 0 auto;
}

.btnjp_ltsj a {
    font-family: 'Chinese Rocks Rg',sans-serif;
    color:#fff!important;
    font-size: 18px;
}

.perm_ltsj .h3 {
    border-color: #fff;
}

select {
    background-color: #fff;
}

#message-box textarea {
    color: #000;
    font-size: 16px;
}

input[type="text"], .inputbox {
    font-size: 18px;
}

.color-groups strong {
    font-weight: normal;
}

.sub-header-info {
    float: none;
    margin-bottom: 10px;
}

.search_sj_sub {
    display: flex;
}

p.pg_search_sj {
    padding: 0;
    margin-top: -6px;
    margin-left: 10px;
}

.pg_search_sj strong.pagination span a {
    width: 20px;
    height: 20px;
    background-color: #2f2f2f;
    font-size: 12px;
    line-height: 22px;
}

.pg_search_sj strong.pagination span a:hover {
    background-color: #006b66;
}


/*********AFFICHAGE POST*********/
#afPOST {
    margin: 0 auto;
    width: 90%;
}

.tlnapgbtPOST {
    background-color: #605e5e;
    background-image: url('https://i.postimg.cc/rpFrCDNt/pattern.png');
    border-radius: 30px 30px 0 0;
  padding : 15px 20px;
}

.tlnapgbtPOST h1 {
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10px 20px 0 20px;
}

.napgbtPOST {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}

.napgPOST {
    margin-bottom: -20px;
    text-transform: uppercase!important;
    font-family: 'Roboto', sans-serif;
}

.pgPOST {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    line-height: 5px;
  font-size : 12px;;
  margin-block : 10px;
}

.navPOST {
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 18px;
}

.navPOST a {
    color: #339c98;
}

.pgpt {
    display: inline-block;
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    background-color: #036461;
    text-align: center;
    line-height: 28px;
    height: 25px;
    width: 25px;
    margin: 0 3px;
    border-radius: 5px;
    padding-top: 6px;
}

.ion-arrow-right-a, .ion-arrow-left-a {
    line-height: 12px;
}

.lockpg {
    background-color: #036461;
}

.btnPOST {
    display: inline-block;
    height: 25px;
    line-height: 28px;
    color: #fff;
    font-family: 'Chinese Rocks Rg',sans-serif;
    background-color: #339c98;
    padding: 5px 18px;
    border-radius: 15px;
    margin-right: 8px;
}

.flwaPOST {
    background-color: #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.watch {
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 17px;
    line-height: 0;
}

.watch a {
    display: inline-block;
    color: #339c98;
    margin-top: 4px;
}

.corPOST {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.avaPOST {
    min-width: 220px;
    height: 420px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    border: 10px solid #605e5e;
}

.avaPOST img {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 400px;
}

.fhchPOST {
    position: relative;
    z-index: 2;
    transition: .5s ease-in-out;
    width: 200px;
    height: 400px;
    background-color: #000000d3;
    padding: 20px;
}

.fhchPOST a {
    display: block;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 18px;
    text-align: center;
}

.fhchPOST span.gen:nth-child(5), .fhchPOST span.gen:nth-child(8), .fhchPOST span.gen:nth-child(11) {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 14px;
}

.fhchPOST img {
    width: 20px;
    height: 20px;
}

.avaPOST:hover .fhchPOST {
    margin-top: -400px;
}

.POST {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bdPOST {
    z-index: 0;
    width: 100%;
    height: 100px;
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    outline: 1px solid #7f7f7f;
    outline-offset: -5px;
}

.bdinfoPOST {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.psbtPOST {
    padding: 9px 10px 5px;
    margin-left: 10px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.psPOST {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 28px;
}

.psPOST strong {
    font-weight: 400;
}

.btpfPOST {
    display: flex;
    gap: 10px;
}

.btpf {
    background-color: #036461;
    color: #fff;
    padding: 10px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.rankPOST {
    position: absolute;
    background-color: #444444;
    top: 47px;
    left: 40px;
    padding: 0 10px;
    color: #fff;
}

.dtbtPOST {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.datPOST {
    text-transform: uppercase;
    color: #929292;
}

.citedPOST {
    display: flex;
    gap: 10px;
}

.citedPOST a {
    color: #339c98;
    font-size: 20px;
}

.onlinePOST {
    background-color: #605e5e;
    border-radius: 46px 0 0 46px;
    position: relative;
    z-index: 0;
    min-width: 260px;
    height: 100px;
}

.online:before {
    background-color: #93F037;
    border-radius: 46px 0 0 46px;
    z-index: 1;
    width: 260px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.onlinePOST img {
    position: relative;
    z-index: 2;
    border-radius: 50px 0 0 50px;
    margin-left: 10px;
    width: 251px;
    height: 100px;
    object-fit: cover;
}

.txtPOST {
    background-color: #ededed;
    min-height: 310px;
}
  
.contPOST {
    color: #000;
    padding: 30px 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.contPOST img {
    max-width: 100%!important;
}

.basPOST {
    margin-top: 10px;
}

.repPOST {
    background-color: #605e5e;
    background-image: url('https://i.postimg.cc/rpFrCDNt/pattern.png');
    border-radius: 0 0 30px 30px;
  padding : 15px 20px;
    box-shadow: 0 6px 0px #212121;
}

.blorepPOST {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
}

.blorepPOST .h3 {
    margin-bottom: 0;
    border-color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.blorepPOST form {
    width: 90%;
    margin: auto;
}

.basPOST div.napgbtPOST div.napgPOST {
    margin-bottom: 0;
}



/***********CATEGORIES***********/
.category-title {
    background-color: #605E5E;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    box-shadow: 0px 8px 0 #212121;
    font-size: 50px;
    text-shadow: 4px 3px 0 #000000a3;
    padding: 6px 0;
    border-radius: 50px;
}

.category-title h2 {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 60px;
    text-shadow: 4px 3px 0 #000000a3;
    letter-spacing : .4rem;
    color: #fff;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.topic-row {
    margin: auto;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto;
    grid-gap: 30px;
    justify-content: center;
    max-width: 1300px;
    min-width: 400px;
    padding: 30px 0px;
    font-family: 'Work Sans',sans-serif;
}

.topic-row > div:first-child:nth-last-child(odd) {
    grid-row: 1/3;
    height: 630px;
}

.topic-row > div:first-child:nth-last-child(odd) > .topic-header > .topic-actions > .topic-subs
{
  height : 570px;
}

@media screen and (max-width: 1285px) {
    .topic-row {
        grid-template-columns: 600px;
    }
}

.topic-container {
    width: 600px;
    height: 300px;
    color: white;
    position: relative;
    box-shadow: 0 0 8px #212121;
}

.topic-container br {
    display: none;
}

.topic-container img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.topic-header {
  position: relative;
  z-index: 2;
  height: 25%;
  margin: 20px 20px 0 20px;
}

.topic-info-block {
  float: left;
}

.topic-info {
  background-color: #2f2f2f;
  margin-bottom: 10px;
  padding: 2px 5px;
  width: max-content;
  font-size: 1.0em;
  letter-spacing: 1px;
}

.topic-actions {
  float: right;
  margin: 0;
}

.open-subs {
    border-radius: 50%;
    background-color: #2f2f2f;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #339c99;
    display : flex;
    justify-content : center;
    align-items : center;
}

.open-subs i {
    margin-left: 1px;
    margin-top: 1px;
}

.topic-center {
  position: relative;
  z-index: 1;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topic-title {
    text-transform: uppercase;
    width: max-content;
    background-color: #00000075;
    padding: 4px 15px 0px 15px;
}

.topic-title a {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 35px;
    letter-spacing : .4rem;
    color: #fff;
    text-align: center;
    text-shadow: 3px 2px 0px black;
}

.topic-icon {
  margin-left: auto;
  margin-right: 10px;
  background-size: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.topic-footer {
  z-index: 5;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.left-footer, .right-footer {
  position: relative;
  width: 100px;
  background-color: #605e5e;
}

.circle-left, .circle-right {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color: #605e5e;
    border: 10px solid #605e5e;
    border-radius: 50px;
}

.circle-left img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
}

.center-footer {
    background-color: #605e5e;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    align-items: flex-end;
}

.topic-row > div:nth-child(even) > .center-footer {
    flex-direction: row-reverse;
}

.footer-title {
    text-transform: uppercase;
}

.footer-title a {
  max-width: 380px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  color: #fff;
}

.footer-title a:hover {
  color: #339c99;
}

.footer-subtitle {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 10px;
    text-align: right;
}

.footer-subtitle br {
    display: block;
}

.footerbar-system strong
{
  font-weight : 400;
}

a.last-post-icon img {
    position: relative;
    width: auto;
    height: auto;
}

.lastpost-avatar {
  padding: 0;
}

.lastpost-avatar img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: top;
    padding: 0;
}

.lastpost-avatar:after {
    opacity: 0;
}

#btnControl {
    display: none;
}

#btnControl:checked + label {
    overflow: visible;
}

.btn-subs {
    position: relative;
    display: inline-block;
    width: 30px;
    margin-right: 0px;
    overflow: hidden;
}

.topic-subs {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 240px;
    right: -20px;
    top: -20px;
    background-color: #000000e3;
    padding: 86px 15px 10px 15px;
    flex-flow: wrap;
}

.subs-list {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto!important;
    justify-content: space-around;
}

.subs-list::-webkit-scrollbar {
    width: 5px;
}

.subs-list::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98);
}

.subs-list::-webkit-scrollbar-track {
    background: #232323;
}

.topic-subs a {
    display: inline-block;
    background-color: #5b5959;
    height: 34px;
    width: 47%;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    padding: 0 10px;
    text-align: center;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic-subs a:hover, .topic-title a:hover {
    color: #339c99;
}


/****************************Liste de membres**********************/
.memberLine
{
    display: inline-block;
    margin-right : 30px;
  margin-bottom : 30px;
}

.nameMemberList
{
    width: 200px;
    height : 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 6px 0 #00000078;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.nameMemberList > a > span > strong
{
    color : white !important;
    font-size: 2rem !important;
    text-shadow: 0 0 6px #2F2F2F;
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing : 3px;
    font-weight : normal;
}

.imageAvatar
{
    position: relative;
    width: 200px;
    height: 400px;
    z-index: 3;
    transform: translateY(-15px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.imageAvatar img {
    width: 200px;
    height: 400px;
    position: absolute;
    object-fit : cover;
    object-position : top;
}

.textInfoAvatar
{
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-bottom: white solid 2px;
    width: 150px;
}

.infoAvatar
{
    position: absolute;
    z-index: 4;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    height: 400px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .5s ease-in-out;
    font-size : 2rem;
}

.imageAvatar:hover > .infoAvatar
{
    visibility: visible;
    opacity: 1;
}

/******AFFICHER LES MESSAGES DE L'UTILISATEUR******/
.mess_search {
    margin: auto;
    width: 96%;
    margin-bottom: 15px;
}

.mess_search_ban {
    background-color: #444;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px 20px 0 0;
}

.mess_search_tle {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mess_search_tle a {
    color: #339c98;
}

.mess_search_tle a:hover {
    color: #036360;
}

.mes_search_info {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 20px;
    line-height: 14px;
}

.mes_search_info span a {
    margin: 0 6px;
    font-size: 11px;
    font-weight: bolder;
    color: #339c98;
}

.mes_search_info span a:hover {
    color: #fff;
}

.mess_search_post {
    background-color: #fff;
    padding: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    border-radius: 0 0 20px 20px;
}


/******FOOTER******/
.footer {
    width: 100%;
}

#page-footer {
    width: 100%;
    background: linear-gradient(90deg,#339c98,#036461);
    height: 40px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    line-height: 43px;
}

.footerbar-system {
    padding: 0;
}
.footerbar-system, .footerbar-user {
    font-size: 22px;
}

.footerbar-system li, .footerbar-user li {
    float: none;
}

.footer_admin {
    background-color: #212121;
    height: 26px;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #339c98;
    text-align: center;
    line-height: 28px;
}

.footer_img {
    width: 100%;
    height: 150px;
    background-color: #212121;
}

.footer_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -100px;
}

.footer_credits {
    background-color: #605E5E;
    background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.footer_credits p {
    margin: 0;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.footer_credits p b {
    color: #339c98;
}

/*******************FICHE TECH TEST ******************/
#navBarTech, #navBarIle
{
    background-color: #605E5E;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    justify-content: center;
    color : white;
    display: flex;
    box-shadow: 0px 4px 5px #00000078;
      font-family: 'Chinese Rocks Rg',sans-serif;
    margin-bottom : 50px;
   border-top-right-radius : 20px;
     border-top-left-radius : 20px;
  background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

#containerButton
{
    display: flex;
    list-style: none;
    box-shadow: 0 5px #2f2f2f;
    font-size : 2rem;
}

.buttonTech, .buttonIle 
{
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 15px;
    cursor: pointer;
}

.buttonTech:hover, .buttonIle:hover
{
      box-shadow: inset 0px 0px 14px #339c98
}

.iconButton
{
    margin-right: 10px;
}

.buttonTech.active, .buttonIle.active
{
    box-shadow: 0 5px #339c98;
    color:#339c98
}

.ficheTechnique
{
  width : 100%;
  padding : 30px;
  background-color : #605E5E;
  border-bottom-right-radius : 20px;
  border-bottom-left-radius : 20px;
  background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.ficheTechnique:first-of-type
{
  padding-inline: unset;
  display: flex;
  position : relative;
  justify-content : space-between;
}

.ficheTechnique:first-of-type > img
{
  width : 200px;
  height : 400px;
  object-fit : cover;
  border-bottom-left-radius : 15px;
}

.PNJAcomp > div > img
{
  width : 180px;
  height : 300px;
  object-fit : cover;
}

.PNJAcomp:last-of-type > div > img
{
    border-bottom-left-radius : 15px;
}

.PNJAcomp:last-of-type:nth-child(even) > div > img
{
    border-bottom-left-radius : 0px;
      border-bottom-right-radius : 15px;
}

.PNJAcomp
{
  position : relative;
  display : flex;
  justify-content : space-evenly;
  margin-bottom : 30px;
}

.PNJAcomp:nth-child(even)
{
  flex-direction : row-reverse;
}

.NameCloud
{
    background-color : white;
    width : 140px;
    height : 100px;
    padding-inline : 20px;
    display : flex;
    justify-content : center;
    align-items : center;
    font-family: 'Chinese Rocks Rg',sans-serif;
    border : 2px solid black;
    position: absolute;
    box-shadow : 0 0 0 4px white, 0 0 0 6px black;
    top: 60%;
    left: 15%;
}

.NameCloudBis
{
  left :55%;
  width : 100px;
  height : 80px;
}

.PNJAcomp:nth-child(even) .NameCloudBis
{
  left : -10%;
}

.NameCloud > p
{
    font-size : 1.8rem;
    text-align : left;
}

.NameCloudBis > p
{
  font-size : 1.4rem;
}

.BottomCloud, .TopCloud{
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    bottom: -19px;
    left: -16px;
    border: 2px solid #000;
    border-radius: 50px;
}

.TopCloud
{
    bottom : unset;
    left : unset;
    top: -19px;
    right: -16px;
}

.separation 
{
    width: 4px;
    height: 400px;
    background-color: black;
    margin-left: -70px;
}

.infoTechTitle
{
      font-family: 'Chinese Rocks Rg',sans-serif;
  font-size : 3rem;
  text-align : center;
  color: white;
}

.infoTech
{
    width: 450px;
    height: 400px;
    background-color: white;
    border-bottom-right-radius: 15px;
    padding: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  
}

.infoTechBis
{
  border-bottom-left-radius : 15px;
  border-bottom-right-radius : 0;
}

.widthBis::-webkit-scrollbar {
    width: 5px!important;
}

.widthBis::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98)!important;
}

.widthBis::-webkit-scrollbar-track {
    background: #232323!important;
}

.widthBis
{
  height:600px;
  width : 420px;
  overflow-y : scroll;
}

.widthBis ul
{
  font-size : 2rem;
}

.widthBis ul li p
{
  font-size : 1.5rem;
      color: white;
    background-color: #605e5e;
    padding: 15px;
    border-radius: 20px;
}

.infoTech > p
{
    font-size : 1.8rem;
}

.citation
{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-bottom : 50px;
}


.PNJInfo
{
  background-color : white;
  width : 500px;
  min-height: 100px;
  padding : 15px;
  overflow-y: scroll;
}


.PNJInfo::-webkit-scrollbar {
    width: 5px!important;
}

.PNJInfo::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98)!important;
}

.PNJInfo::-webkit-scrollbar-track {
    background: #232323!important;
}

.PNJAcomp:last-of-type .PNJInfo
{
    border-bottom-right-radius : 15px;
}

.PNJAcomp:last-of-type:nth-child(even) .PNJInfo
{
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 15px;
}


/******MESSAGERIE PRIVÉE******/
.pvmsg-title {
    margin: 0 0 10px 0;
}

#pvmsg-menu {
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
}

#pvmsg-menu li {
    height: 40px;
    padding: 0 12px;
    margin-right: 10px;
    display: inline;
    background-color: #339c98;
    border-radius: 10px 10px 0 0;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
    line-height: 42px;
}

#pvmsg-menu li a {
    color: #036461;
}

#pvmsg-menu li a:hover {
    color: #fff;
}

.pvmsg-infos, .pvmsg-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-box {
    margin-bottom: 0!important;
}

.pvmsg-new-bottom, .pvmsg-jumpbox p {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.pvmsg-list {
    margin-bottom: 20px;
}

.pvmsg-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pvmsg-empty {
    color: #000;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}

.pvmsg-select {
    display: flex;
    gap: 20px;
}

.pvmsg-view-msg {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.pvmsg-msg {
    width: 100%;
    margin: 0;
}

.pvmsg-msg .postbody {
    height: 100%;
}

.pvmsg-msg .content {
    height: auto;
    min-height: 365px;
}

.pvmsg-ava-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pvmsg-name {
    padding: 10px;
    width: 100%;
    font-family: 'Chinese Rocks Rg',sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #605e5e;
    position: sticky;
    top: 490px;
}

.pvmsg-icon {
    list-style-type: none!important;
    float: right;
    margin-top: -30px;
}

.pvmsg-icon li {
    display: inline-block;
    background-color: #339c98;
    border-radius: 5px;
    height: 24px;
    margin-left: 5px;
}

/***********************************fiche Prez********************************/
.fiche-prez
{
    width: 100%;
    background-color: #605e5e;
    border-radius: 30px;
    padding: 50px;
  background-image: url(https://i.postimg.cc/rpFrCDNt/pattern.png);
}

.infoBox
{
      display : flex;
    align-items : center;
  justify-content : space-between;
}

#avatarPrez
{
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position :top;
  border-top-left-radius : 20px;
}

.NameCloudPrez
{
  left:unset;
  right : 10%;
  top: 70%;
}

.separationPrez
{
margin-left: -282px;
}

.infoPrez
{
  width: 360px;
  height:500px;
  border-bottom-right-radius : unset;
    border-top-right-radius : 20px;
}

.prezDescrption
{
   background-color : white;
   width : 100%;
  height : 400px;
  overflow-y: scroll;
}

.prezDescrption:last-of-type
{
      border-bottom-right-radius : 15px;
    border-bottom-left-radius : 15px;
}

.prezDescrption::-webkit-scrollbar {
    width: 5px!important;
}

.prezDescrption::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98)!important;
}

.prezDescrption::-webkit-scrollbar-track {
    background: #232323!important;
}

.prezTitle
{
  font-size : 3rem;
  background: linear-gradient(90deg,#339c98,#036461);
  width : 100%;
  height : 80px;
        border-top-right-radius : 15px;
    border-top-left-radius : 15px;
  border-color: unset;
  display : flex;
  justify-content : center;
  align-items : center;
      font-family: 'Chinese Rocks Rg',sans-serif;
  margin-top:30px;
}

/****************FICHE ILE***********/

.ficheIle
{
  justify-content : center !important;
}


.imgIle
{
  width : 500px !important;
  border-top-left-radius : 20px;
}

.nomIle
{
  display : flex;
  justify-content : center; 
  align-items : center;
  color : white ;
  height : 400px;
  width : 100px;
  font-family: 'Chinese Rocks Rg',sans-serif;
  background : linear-gradient(90deg,#339c98,#036461);
  writing-mode: vertical-lr;
      font-size : 5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.infoIle
{
  border-radius : 20px;
  margin-left: 50px;
  width : 200px !important;
}

.descIle
{
  background-color : white;
  border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
  width : 800px;
  min-height : 400px;
  padding : 30px;
  overflow-y : scroll;
  font-size: 1.8rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.descIle::-webkit-scrollbar {
    width: 5px!important;
}

.descIle::-webkit-scrollbar-thumb {
    background: linear-gradient(#036461, #339c98)!important;
}

.descIle::-webkit-scrollbar-track {
    background: #232323!important;
}

.titreStructure
{
   font-family: 'Chinese Rocks Rg',sans-serif;
  background : linear-gradient(90deg,#339c98,#036461);
  writing-mode: vertical-lr;
  font-size : 3rem;
  color : white;
  height : 300px;
  width : 50px;
    display : flex;
  justify-content : center; 
  align-items : center;
      border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.imageStructure
{
  height : 300px;
  width : 400px;
  object-fit : cover;
    border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.structure
{
  display : none; justify-content : space-between; flex-wrap: wrap; gap : 30px;
}

.descIleBis
{
  width: 430px;
  min-height : unset;
  height : 300px
}

.ficheTechnique.ile:last-of-type
{
  justify-content : center;
}

.societe
{
  cursor : pointer;
}
